# conda install -c conda-forge pyyaml six numpy scipy biopython matplotlib seaborn xarray pandas click colorama gitpython
# conda install --file requirements-conda.txt
pyyaml
six
requests
pillow
numpy
scipy
pandas
xarray
pytables
biopython
matplotlib
click
pytz
python-dateutil
parsedatetime
flask
gitpython
colorama
